body {
    background-color: rgb(254, 210, 144);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    height: 800px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.msg-box {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 280%;
}

.options {
    display: flex;
}

button {
    height: 6vh;
    width: 15vh;
    font-size: x-large;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

#yes {
    background-color: rgb(1, 255, 124);
    box-shadow: 0 10px 20px black,
        inset 1px 1px 20px rgb(10, 95, 2);
}

#no {
    background-color: rgb(255, 1, 1);
    box-shadow: 0 10px 20px black,
        inset 1px 1px 20px rgb(85, 0, 0);
    position: absolute;
    top: 300px;
    left: auto;
    transition: top 0.1s, left 0.1s;
}

#yes:hover {
    font-weight: bold;
    transform: translateY(-5px);
}

#yes:active {
    transform: none;
    box-shadow: none;
}